.post {
    margin: 0 auto;
    width: 50vw;
}
.postHeader {
    display:flex;
    justify-content: space-between;

    
    button{
        margin-left: 5px;
    }
}

.text{
    span{
        font-weight: bold;
        display: inline;
    }
}